@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
body
{
	color: #AAA;
	background-color: #333;
	font-family: 'Open Sans', sans-serif;
}
h3
{
	font-weight: bold;
}
pre code
{
	font-size: 17px;
	width: 90%;
	border-radius: 4px;
}
section
{
	border: 2px solid #222;
	border-radius: 4px;
	padding: 20px;
	background-color: #444;
}
.topbarSection
{
	margin-bottom: 16px;
	height: 30px;
}
.topbarSection p
{
	margin: 0px;
	margin-right: 20px;
	line-height: 30px;
	float: right;
}
.topbarSection header
{
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	float: left;
	margin-left: 20px;
	font-family: 'Bangers', cursive;
}
.sidebarSection
{
	float: right;
	width: 316px;
}
.sidebarSection ul li
{
	list-style: none;
}
li a
{
	cursor: pointer;
	text-decoration: none;
	color: #AAA;
}
.sidebarSection ul li a
{
	font-size: 19px;
	line-height: 35px;
}
a:hover
{
	color: #AAF;
}
.mainSection
{
	width: calc(100% - 420px);
	float: left;
}
